body {
    margin: 0;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
}

.header, .footer {
    background: skyblue;
    padding: 20px;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.content p, .content h3, img {
    margin-top: 5px;
    margin-bottom: 5px;
}

.connect {
    margin: 0;
    padding: 20px;
}

.portfolio-container {
    margin: 20px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 30vw);
    grid-gap: 15px;
}

@media only screen and (max-width: 768px) {
    .portfolio-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 30vw);
    }
}

.portfolio-container p {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
}

.portfolio-item img {
    height: auto;
    width: auto;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio-item {
    overflow: hidden;
}

.portfolio-container div {
    border-style: solid;
}

.portfolio-container div:hover {
    color: darkblue;
    border-color: darkblue;
}

nav {
    display: flex;
    flex-direction: row;
}

nav ul {
    margin: 0;
    padding: 0;
    padding-right: 20px;
}

nav ul li {
    display: flex;
}

nav ul li a {
    text-decoration: none;
    color: black;
}

#curr-page li a {
    color: red;
}

nav ul li a:hover {
    color: red;
}

a {
    color: darkblue;
}

h1 {
    margin-top: 0;
}

img {
    width: 250px;
    height: 250px;
}